@model IEnumerable<Timesheets.Models.TimesheetViewer>


    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Project</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Total Hours</th>
            </tr>
        </thead>
         @if (@Model != null)
    {
        <tbody>
            @foreach (var timesheet in Model)
            {
                <tr>
                    <td>@timesheet.Date</td>
                    <td>@timesheet.Project</td>
                    <td>@timesheet.FirstName</td>
                    <td>@timesheet.LastName</td>
                    <td>@timesheet.TotalHours</td>
                </tr>
            }
        </tbody>
    }
    </table>
